#!/usr/bin/env bash

if [ -n "$HOST_UID" ]; then
  usermod -u "$HOST_UID" admin
fi

if [ -n "$HOST_GID" ]; then
  groupmod -g "$HOST_GID" admin
fi

if [ ! "$COMPOSER_ENTRYPOINT_SCRIPT" = false ] && [ ! -f "$APP/vendor/autoload.php" ]; then
  composer -n -d "$APP" ${COMPOSER_ENTRYPOINT_SCRIPT:-install}
fi

unset COMPOSER_ENTRYPOINT_SCRIPT

if [ $# -gt 0 ]; then
  exec gosu "$HOST_UID" "$@"
else
  exec $ENTRYPOINT_COMMAND
fi
